
@{
    ViewBag.Title = "CreateSupplement";
}

<div class="row">
    <div class="col-md-12">
        <fieldset>
            <legend>Enter Supplements</legend>
            <form class="form-horizontal">

                <div class="form-group">
                    <label for="txtName" class="control-label col-md-2">Name</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="txtName" placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtProvider" class="control-label col-md-2">Provider</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="txtProvider" placeholder="Provider">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label><input type="checkbox"> Third Party Testing?</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>

            </form>
        </fieldset>
    </div>
</div>

